.movie-list-page {
  &::before {
    box-sizing: border-box;
  }

  &__container {
    width: 60%;
    margin: 5% auto;
    border: 1px solid black;
    padding: 3%;
  }

  &__no-movie {
    padding-top: 5%;
  }
}
