.movie-list-page {
  &__container {
    width: 40%;
    margin: 8% auto;
    border: 1px solid rgba(black, 0.2);
    box-shadow: 0 1.5rem 2rem rgba(black, 0.2);
    border-radius: 15px;
    padding: 3%;
  }

  &__no-movie {
    padding-top: 5%;
  }
}
