.movie-list {
  &::before {
    box-sizing: border-box;
  }

  &__container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5%;
  }

  &__no-movie {
    padding-top: 5%;
  }
}
